/* #region default */

:root {
  color-scheme: dark;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

@font-face {
  font-family: 'Marksman';
  src: local('Marksman'), url(/public/Marksman.otf) format('opentype');
}

html {
  min-height: 100vh;
  background-image: linear-gradient(40deg,
      hsl(240deg 100% 11%) 0%,
      hsl(228deg 100% 12%) 21%,
      hsl(223deg 100% 14%) 30%,
      hsl(221deg 91% 16%) 39%,
      hsl(221deg 80% 18%) 46%,
      hsl(220deg 71% 20%) 54%,
      hsl(220deg 65% 23%) 61%,
      hsl(219deg 59% 25%) 69%,
      hsl(218deg 55% 28%) 79%,
      hsl(217deg 52% 30%) 100%);
}

body {
  color: #eee;
  font-size: 120%;
}

a {
  color: #9e9eff;
}

a:visited {
  color: #d0adf0;
}

a:active {
  color: #ff9e9e;
}

body,
input,
select,
button {
  font-family: 'Quicksand', sans-serif;
}

label {
  margin: 0.5em 0;
  display: block;
}

label>label {
  display: inline-block;
}

label label.checkbox {
  margin: 0;
}

label>input[type="radio"] {
  margin: 0.45em 0.8em 0.5em 0.2em;
}

label>input[type="radio"]~* {
  opacity: 0.4;
}

label>input[type="radio"]:checked~* {
  opacity: 1;
}

label h3 {
  margin: 0;
  margin-bottom: 0.3em;
}

hr {
  border: none;
  border-bottom: 2px solid #444a;
  margin-block-start: 1.5em;
}

select {
  -webkit-appearance: none;
}

fieldset {
  border-radius: 0.6em;
  padding: 0.35em 0.75em;
}

.menu h1.title {
  font-size: 2rem;
  margin: 0.4em 0;
}

#update-image {
  margin: 1rem 0 0 0;
}

.gbc {
  font-family: 'Marksman', monospace;
  font-size: 1.4em;
  font-weight: normal;
}

.disabled,
:disabled {
  opacity: 0.5;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 10vh;
  margin-bottom: 2rem;
  gap: 2rem;
}

.app>h1 {
  font-size: 2.2em;
  margin: 0;
}

/* #endregion */

.generator {
  display: flex;
  flex-flow: row;
  background-color: #071627;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  max-height: 600px;
  border-radius: 2em 4px 4px 2em;
  overflow: hidden;
  filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.35));
  border-top: 1px solid #fff2;
  transition-delay: 0.15s;
  transition-duration: 0.15s;
}

.generator>article {
  display: flex;
  flex-flow: row;
  height: 100%;
  min-width: 100%;
}

.generator>article {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.generator>article>section {
  flex: 1;
  overflow: auto;
  padding: 0.6em 1.5em;
}

.generator>article>section.card-display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
}

.generator>article>section.card-display>img {
  height: 430px;
  padding: 1em;
  filter: drop-shadow(0 0 1rem rgba(150, 100, 100, 0.3));
}

.generator>article>section.card-options {
  padding: 1rem 1rem;
}

.generator>article>section.card-options>section {
  display: flex;
  flex-flow: column;
  row-gap: 0.5rem;
}

nav.foo {
  display: flex;
  gap: 0.6em;
}

.nav-bg {
  padding: 0.2em;
  border-radius: 0.5em;
  background-color: #fff1;
  gap: 0.4em;
  display: flex;
}

nav.foo button {
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  background-color: #fff0;
  transition: 0.2s;
  border-radius: 0.4em;
  padding: 0.2em 0.4em;
}

nav.foo button:hover,
nav.foo button.selected {
  background-color: #fff2;
}

.button-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1em;
}

.button-menu>button {
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: ease-out;
  padding: 0.3em 0.8em;
  margin: 0.4em 0;
  font-size: 1em;
  background: #fff2;
  border-radius: 0.5em;
  border: 1px solid transparent;
}

.button-menu>button:active:not(:disabled) {
  background: none;
}

.button-menu>button.fetching {
  background: #fff2;
}

.button-menu>button.error.network {
  filter: drop-shadow(0 0 0.5em rgb(211, 69, 69, 0.5));
  background: rgb(211, 69, 69);
}

.button-menu>button.error.input {
  filter: drop-shadow(0 0 0.5em rgb(233, 186, 56, 0.5));
  background: rgb(233, 186, 56);
}

.button-menu>button:hover:not(:disabled) {
  opacity: 0.7;
  border: 1px solid #ddf1;
}

.button-menu>button span.generate {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}

.button-menu>button.fetching .generate {
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 55%;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

section.menu {
  padding: 0.5em 1rem;
  box-sizing: border-box;
}

.menu.error {
  /* outline: 1px solid #9e9eff; */
  box-shadow: 0px 0px 0px 2px rgb(211, 69, 69);
  border-radius: 1em;
}

.menu .title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.menu .checkbox>input {
  width: 1em;
  height: 1em;
  margin: 0.4em;
}

.menu input,
.menu select {
  font-size: 1em;
  margin: 0.1em 0.5em;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  border: none;
  max-width: 100%;
  background: #333;
}

input[type="number"] {
  width: 2em;
}

input[type="file"] {
  display: none;
}

.upload-wrapper {
  display: flex;
  flex-flow: column;
  padding: 0.3em 0;
}

.upload-section>div {
  display: inline-flex;
  max-width: 100%;
  border-radius: 0.5em;
  background: #fff2;
  margin: 0.3em;
  overflow: hidden;
}

.upload-section .input,
.upload-section .close {
  padding: 0.3em 0.6em;
  margin: 0;
  cursor: default;
  transition: 0.2s;
  transition-timing-function: ease-out;
  box-sizing: border-box;
}

.upload-section .input {
  display: inline-block;
  font-size: 0.95em;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.upload-section .close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #999;
  padding-right: 0.7em;
}

label>input[type="radio"]:checked~* .upload-section .input:hover {
  background: #fff2;
}

label>input[type="radio"]:checked~* .upload-section .close:hover {
  background: #c44;
  border-left: 1px solid #c44;
  box-shadow: 0 0 0.5em #a229;
}

label>input[type="radio"]:checked~* .upload-section .input,
label>input[type="radio"]:checked~* .upload-section .close {
  cursor: pointer;
}

label.checkbox {
  padding: 0 0.5rem;
  margin: 0;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

label.portrait {
  display: flex;
}

label.portrait>section {
  flex: 1;
}

.name-selection {
  display: flex;
}

.name-selection>input {
  flex: 1;
}

input[type="text"] {
  box-sizing: border-box;
}

.info-circle {
  z-index: 1;
  font-weight: lighter;
  transition: 0.2s;
  position: relative;
  padding: 0 0.3em;
  opacity: 0.5;
}

.info-circle:hover {
  opacity: 1;
}

.info-circle>.info {
  transition: 0.1s;

  background-color: antiquewhite;
  color: #111;

  font-size: 0.6em;
  font-weight: 600;
  width: 250px;

  display: block;
  position: absolute;
  top: -0.3em;
  left: 100%;
  padding: 0.8em;
  border-radius: 0.2em;

  transition-timing-function: ease-in-out;
  transform-origin: 0 0.4em;
  transform: scale(0);
  opacity: 0;
}

.info-circle:hover>.info {
  transform: scale(1);
  opacity: 1;
}

button[disabled] {
  cursor: default;
}

article.credits {
  padding: 1.5em;
  box-sizing: border-box;
}

#credits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 44px;
  margin: 0;
}

.socials svg {
  fill: #fff;
  height: 30px;
}

label.radio {
  display: flex;
  flex-flow: row;
}

label.radio>.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 0.2em;
}

label.radio>.content>* {
  margin-left: 0;
  margin-right: 0;
}

article.help {
  padding: 1.5em;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .app {
    margin-top: 0;
    gap: unset;
  }

  .app>h1 {
    display: none;
  }

  .generator {
    max-height: unset;
    height: unset;
    filter: none;
    border-radius: 0;
    border: none;
  }

  nav.foo {
    font-size: 1.1em;
    padding: 0.5em;
    margin: 2em;
  }

  .generator>article {
    flex-direction: column;
  }

  .generator>article>section.card-display {
    min-height: 600px;
  }
}
