:root {
  color-scheme: dark;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

body {
  background-color: hsl(213deg, 20%, 18%);
  color: #eee;
  font-size: 120%;
}

body, input, select, button {
  font-family: 'Quicksand', sans-serif;
}

hr {
  border: none;
  border-bottom: 1px solid #999;
  margin-block-start: 1.5em;
}

#update-image {
  margin: 1rem 0 0 0;
}

.gbc {
  font-family: 'Marksman', monospace;
  font-size: 1.4em;
}

.disabled {
  opacity: 0.5;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
}

.app > h1 {
  font-size: 2.2em;
  margin: 0 0 1.2em 0;
}

#generator {
  display: flex;
  background-color: hsl(212deg, 21%, 10%);
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;
  border-radius: 2em 4px 4px 2em;
  overflow: hidden;
  filter: drop-shadow(0 0 2em rgba(0,0,0,0.35));
}

#generator > section {
  flex: 1;
  overflow: auto;
  padding: 0 1.5em;
}

#generator > section.card-display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.35);
  box-sizing: border-box;
}

#generator > section.card-display > img {
  height: 450px;
  padding: 1em;
  filter: drop-shadow(0 0 1rem rgba(150,100,100, 0.3));
}

#generate-button {
  transition: 0.4s;
  padding: 0.3em 0.8em;
  margin: 0.4em 0;
  font-size: 1em;
  background: #fff2;
  border-radius: 0.5em;
  border: 1px solid transparent;
}

#generate-button:hover {
  background: #fff1;
  border: 1px solid #ddf1;
}

#generate-button:active {
  background: none;
}

#generate-button.fetching {
  background: #fff4;
}

.menu .title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

.menu .checkbox>input {
  width: 1em;
  height: 1em;
  margin: 0.5em;
}

.menu input, .menu select {
  font-size: 1em;
  margin: 0.1em 0.5em;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  border: none;
}

input[type="number"] {
  width: 2em;
}

label.checkbox {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.name-selection {
  display: flex;
}

.name-selection > input {
  flex: 1;
}

input[type="text"] {
  box-sizing: border-box;
}

.info-circle {
  z-index: 1;
  font-weight: lighter;
  transition: 0.2s;
  position: relative;
  padding: 0 0.3em;
  opacity: 0.5;
}

.info-circle:hover {
  opacity: 1;
}

.info-circle > .info {
  transition: 0.1s;
  
  background-color: antiquewhite;
  color: #111;

  font-size: 0.6em;
  font-weight: 600;
  width: 200px;
  
  display: block;
  position: absolute;
  top: -0.3em;
  left: 100%;
  padding: 0.8em;
  border-radius: 0.2em;
  
  transition-timing-function: ease-in-out;
  transform-origin: 0 0.4em;
  transform: scale(0);
  opacity: 0;
}

.info-circle:hover > .info {
  transform: scale(1);
  opacity: 1;
}
